<h1>Список каталогов</h1>
<% if @catalogs.empty? || @catalogs.nil? %>
    <h2>Нет данных в БД</h2>
<% else %>
    <table>
        <% @catalogs.each do |i| %>
            <tr>
                <td class="id"><%= i.id %></td>
                <td class="name"><%= i.name %></td>
                <td class="full"><%= i.description %></td>
                <td class="symbol"><%= link_to 'Содержание', catalog_path(i) %></td>
                <td class="symbol"><%= link_to 'Редактировать', edit_catalog_path(i) %></td>
                <td class="symbol"><%= link_to 'Удалить', i,method: :delete, data: { confirm: "Are you sure?" }  %></td>
            </tr>
        <% end %>
    </table>
<% end %>
<%= link_to 'Добавить новый каталог', new_catalog_path %> <br>
<%= link_to 'Список всех продуктов', products_path %>
