<%= form_for @product do |f| %>
    <table>
      <tr>
        <td>Название:</td>
        <td><%= f.text_field :name, size: "51" %></td>
      </tr>
      <tr>
        <td>Описание:</td>
        <td><%= f.text_area :description, size: "50x3" %></td>
      </tr>
      <tr>
        <td>Цена:</td>
        <td><%= f.number_field :price, min: 0.00, step:0.01 %></td>
      </tr>
      <%= f.hidden_field(:catalog_id, :value=>@catalog.id ) %>
    </table>
    <%= f.submit 'Сохранить'%>
    <%= link_to 'Отменить', controller: 'catalogs', action: 'index' %>
<%end%>
