<!DOCTYPE html>
<html>
<head>
  <title>TestTarifer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<% flash.each do |name, msg| %>
    <h2> <%= content_tag :div, msg, :id => "flash_#{name}" %></h2>
<% end %>
</body>
</html>
